
/* horizontal nav bar ------------------------------------ */ 
#horizontal-nav ul 
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
	border-radius: 0 0 7px 7px;
}

#horizontal-nav ul li
{
	float: left;
}

#horizontal-nav ul li a
{
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* vertical nav bar ------------------------------------ */
#vertical-nav ul 
{
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
 	width: 15%;
 	background-color: #232637;
 	position: fixed;
 	height: 100%;
  	overflow: auto;
}

#vertical-nav li a 
{
	display: block;
    color: white;
	padding: 8px 16px;
	text-decoration: none;
	margin: 10px;
}

#vertical-nav li a.active 
{
  	background-color: #43475d94;
  	color: white;
  	border-radius: 6px;
}

#vertical-nav li a:hover:not(.active):not(.active-name)   
{
  	background-color: #8087a994;
  	color: white;
  	border-radius: 6px;
}

.website-name 
{
	border-bottom: 3px solid #5f607d59;
	margin-top: -10px;
	margin-bottom: 15px;
	font-weight: bold;
}

.active-name
{
	padding: 14px 16px !important;
	margin-bottom: 0 !important;
}

body
{
	background-color: #d8d8d83d;
	margin: 0;
}

/* three columns for gauge graphs ---------------------------------------------- */
* 
{
  	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
}

/* Create three equal columns that floats next to each other */
.column 
{
  	float: left;
  	width: 23.5%;
  	padding: 10px;
  	height: 300px; 
	position: relative;
	border-radius: 0 0px 7px 7px;
}

.label-column 
{
  	float: left;
  	width: 23.5%;
	padding: 15px 10px;
	border-bottom: 1px solid #d4d4d4;
	border-radius: 7px 7px 0 0px;
}

.column, .label-column
{
	background-color: white;
}

/* Clear floats after the columns */
.row:after, .label-row:after 
{
  	content: "";
  	display: table;
  	clear: both;
}

.row
{
	margin: 0 0 25px 0;
	position: relative;
}

.label-row
{
	margin: 25px 0 0 0;
}

.line-graph
{
	padding: 10px;
	margin: 25px 0;
	margin-top: 0px;
	border-radius: 0 0px 7px 7px;
}

.label-column h3
{
	text-align: center;
	margin: 0;
}

.line-graph
{
	background-color: white;
	position: relative;
	width: 100%;
	height: 63%;
}

#mycanvas1, #mycanvas2, #mycanvas3
{
	position: absolute;
	padding: 20px;
}

#doughnut-chartcanvas-1, #doughnut-chartcanvas-2, #doughnut-chartcanvas-3, #doughnut-chartcanvas-4 
{
	position: absolute;
	padding: 20px;
}

.line-graph-column
{
	background-color: white;
	padding: 15px 10px;
	border-bottom: 1px solid #d4d4d4;
	border-radius: 7px 7px 0 0px;
	
}

.line-graph-column h3
{
	text-align: center;
	margin: 0;
}

.table-row
{
	padding: 30px 30px;
	background-color: white;
	margin: 25px 0;
	position: relative;
	margin-top: 0;
	border-radius: 0 0px 7px 7px;
}

.table-row-column
{
	margin-top: 25px;
	background-color: white;
	padding: 15px 10px;
	border-bottom: 1px solid #d4d4d4;
	border-radius: 7px 7px 0 0px;
}

.table-row-column h3
{
	text-align: center;
	margin: 0;
}

.table-row table {
  border-collapse: collapse;
  width: 100%;
}

.table-row th, .table-row td {
  text-align: left;
  padding: 8px;
}

.table-row tr:nth-child(odd){background-color: #f2f2f2}

.table-row th {
  background-color: #235A709E;
  color: white;
}

.form-row
{
	margin: 25px 0;
	padding: 30px;
	background-color: white;
	border-radius: 7px;
}

.form-row h3 
{
	padding: 10px;
	margin: 0;
}

.form-column
{
	padding: 10px;
}

.form-column input[type=text]
{
	width: 100%;
	border: none;
	border-bottom: 1px solid #92929226;
}

.form-column input[type=submit]
{
	float: right;
	padding: 3px 10px;
	background-color: #42509d08;
	text-decoration: none;
	border-radius: 7px;
	border: 3px solid #272b6026;
}

.form-column input[type=text]:focus
{
	border-bottom: 1px solid #29295f9c;
}

.form-sub-row
{
	padding: 30px;
	margin: 0 33%;
}